<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ciudades y Capitales</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capital</th>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries">
                    <td>{{country._id}}</td>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td><button class="btn btn-danger" (click)="doDelete(country)">Eliminar</button>
                        <button class="btn btn-primary" (click)="doUpdate(country)">Editar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>